Hannah Landau

Dimension 1: Data Gathering
- Top marks: Scraped datasets from the web using beautifulsoup, and those datasets are sufficiently interesting and complex to aid in my analysis.
- Middle marks: Use a breadth of dataset formats such as CSV, XML, JSON, or databases. These may be created through preprocessing of data or download of data directly

Dimension 2: Data Cleaning
- Top marks: A mixture of methods used to clean data columns, including significant use of regex with capture groups, apply(), title(), and string split().

Dimension 3: Data Manipulation
- Top marks: Data is joined from various places, weaving SQL and pandas work together to answer specific questions. **Use of SQL subqueries and joins with pandas data is demonstrated. Appropriate use of an object-relational model (e.g. SQL Alchemy) would also fall in this category, along with specific design of database architecture (e.g. inclusion of an ER diagram outlining how data was manipulated into a coherent form).**

Dimension 4: Data Reporting
- Top marks: Data is presented in a coherent and meaningful manner for the question being used, and a toolkit like **matplotlib, seaborn, bokeh** is used to visualize and demonstrate findings in the data, or advanced statistical techniques (regression, time series correlations, etc.) are used appropriately.

***Look into:
- calculating liklihood of winning more than 1 medal, once you win 1
- visualizing cloropleth map of where 3 countries have won

In [1]:
import pandas as pd
import numpy as np
from IPython.display import display_html

# Get initial dataframe (full_df) with 'Code', 'Country', 'Year', 'City', 'Athlete', 'Gender', 'Event', 'Event Type',  'Medal'

**1. Convert the chart from Wikipedia of countries and their IOC codes into a Pandas dataframe called df_codes**

In [2]:
dfs=pd.read_html('https://en.wikipedia.org/wiki/List_of_IOC_country_codes', header=0)
df1=dfs[0]
df2=dfs[2]
df3=dfs[3]
df4=dfs[4]
df5=dfs[5]

df1=df1[['Code','National Olympic Committee']]
df2=df2[['Code','Nation/Team']]
df3=df3[['Code','Nation (NOC)']]
df4=df4[['Code','Nation/Team']]
df5=df5[['Code','Nation/Team']]

df1=df1.rename(columns={'National Olympic Committee':"Country"})
df2=df2.rename(columns={'Nation/Team':"Country"})
df3=df3.rename(columns={'Nation (NOC)':"Country"})
df4=df4.rename(columns={'Nation/Team':"Country"})
df5=df5.rename(columns={'Nation/Team':"Country"})

df_codes=df1.append([df2,df3,df4,df5])

In [3]:
# Extract only proper country codes. Country codes are three letters -- all in uppercase -- 
# which is why I chose to use the regex that I did.

df_codes['Code']=df_codes['Code'].str.extract(r'([A-Z]{3})')
df_codes.head()

  Code      Country
0  AFG  Afghanistan
1  ALB      Albania
2  ALG      Algeria
3  AND      Andorra
4  ANG       Angola

2. Convert summer.csv into a Pandas dataframe called df_results

In [4]:
df_results=pd.read_csv('datasets_gymnastics/summer.csv')

3. Rename the 'Country' column to 'Code' so it matches the 'Code' column in df_codes

In [5]:
df_results=df_results.rename(columns={'Country':'Code'})

4. Only use data since 1976, where the Discipline is 'Artistic G.' or 'Gymnastics Artistic'

In [6]:
# ***** MAKE MORE EFFICIENT ******

df_results = df_results.loc[df_results['Discipline'].isin(['Artistic G.','Gymnastics Artistic'])]
df_results['Year'] = df_results['Year'].astype(str)
df_results['Year']=df_results['Year'].str.extract(r'([0-9]{4})')
df_results['Year'] = df_results['Year'].astype(int)
df_results = df_results.loc[df_results['Year']>=1980]
df_results.head()

,Year,City,Sport,Discipline,Athlete,Code,Gender,Event,Medal
15912,1980,Moscow,Gymnastics,Artistic G.,"SHAPOSHNIKOVA, Natalia",URS,Women,Balance Beam,Bronze
15913,1980,Moscow,Gymnastics,Artistic G.,"COMANECI, Nadia",ROU,Women,Balance Beam,Gold
15914,1980,Moscow,Gymnastics,Artistic G.,"DAVYDOVA, Elena",URS,Women,Balance Beam,Silver
15915,1980,Moscow,Gymnastics,Artistic G.,"DITYATIN, Aleksandr",URS,Men,Floor Exercises,Bronze
15916,1980,Moscow,Gymnastics,Artistic G.,"BRÜCKNER, Roland",GDR,Men,Floor Exercises,Gold

5. Merge the two dataframes (df_codes and df_results) together

In [7]:
full_df=pd.merge(df_results, df_codes, how='left', on='Code')
full_df=full_df[['Code','Country','Year','City', 'Athlete','Gender','Event','Medal']]

In [8]:
# 6. Get athlete names to be in proper format -- use apply() and .title()

full_df['Athlete'] = full_df['Athlete'].apply(lambda x: x.title())

def rename(names):
    names=names.split(", ")
    lastname=names[0]
    firstname=names[1]
    full_name=firstname+" "+lastname
    return full_name

full_df['Athlete'] = full_df['Athlete'].apply(rename)
full_df.head()

,Code,Country,Year,City,Athlete,Gender,Event,Medal
0,URS,Soviet Union,1980,Moscow,Natalia Shaposhnikova,Women,Balance Beam,Bronze
1,ROU,Romania,1980,Moscow,Nadia Comaneci,Women,Balance Beam,Gold
2,URS,Soviet Union,1980,Moscow,Elena Davydova,Women,Balance Beam,Silver
3,URS,Soviet Union,1980,Moscow,Aleksandr Dityatin,Men,Floor Exercises,Bronze
4,GDR,East Germany,1980,Moscow,Roland Brückner,Men,Floor Exercises,Gold

In [9]:
# Add a new column named 'Event Type' 
full_df['Event Type'] = ['Team' if x =='Team Competition' else 'Individual' for x in full_df['Event']] 

# Print the DataFrame 
full_df=pd.DataFrame(full_df)
full_df=full_df[['Code', 'Country', 'Year', 'City', 'Athlete', 'Gender', 'Event', 'Event Type',  'Medal']]
full_df.head()

,Code,Country,Year,City,Athlete,Gender,Event,Event Type,Medal
0,URS,Soviet Union,1980,Moscow,Natalia Shaposhnikova,Women,Balance Beam,Individual,Bronze
1,ROU,Romania,1980,Moscow,Nadia Comaneci,Women,Balance Beam,Individual,Gold
2,URS,Soviet Union,1980,Moscow,Elena Davydova,Women,Balance Beam,Individual,Silver
3,URS,Soviet Union,1980,Moscow,Aleksandr Dityatin,Men,Floor Exercises,Individual,Bronze
4,GDR,East Germany,1980,Moscow,Roland Brückner,Men,Floor Exercises,Individual,Gold

In [10]:
# CAN DELETE

# Export dataframe to CSV file
# export_csv = full_df.to_csv (r'C:\Users\hannahlandau\Desktop\export_dataframe.csv', index = None, header=True)

# *** Figure out whole getting birth years situation ***

In [11]:
# Moving to bottom to try only getting birth years for athletes from top 5 countries

# # Get list of unique athlete's names

# athlete_df = full_df[['Athlete']].drop_duplicates()
# athlete_list=athlete_df['Athlete'].tolist()
# # print(athlete_list)

In [12]:
# # Use BeautifulSoup to scrape Wikipedia to find birth year for each athlete

# import re
# import requests
# import urllib.request
# from bs4 import BeautifulSoup

# birthDict = {}
# for athlete in athlete_list[:30]:
#     url = 'https://en.wikipedia.org/wiki/' + athlete
#     res = requests.get(url)
#     soup = BeautifulSoup(res.text, "xml")
#     bday = soup.find('span', class_='bday')
#     if bday == None:
#         pass
#     else:
#         year = re.search(r'\d{4}', bday)
#         birthDict[athlete] = year

# print(birthDict)

In [13]:
# athlete_df['Birth Year'] = athlete_df.apply(lambda name: getBirthYear(name), axis = 1) 
# print(athlete_df)

# birthDict = {}
# def getBirthYear(name):
#     url = 'https://en.wikipedia.org/wiki/' + name
#     res = requests.get(url)
#     soup = BeautifulSoup(res.text, "xml")
#     bday = soup.find('span', class_='bday')
# #     text = bday.getText()
# #     year = re.search(r'\d{4}', text)
#     birthDict[name] = bday
#     return birthDict

# athlete_df['Birth Year'] = athlete_df.apply(lambda name: getBirthYear(name), axis = 1) 
# print(athlete_df)
# for name in athlete_list:
    

    
    
# birthDict = {}
# for name in athlete_list:
#     findBirthYear(name)
#     birthDict[name] = bday
#     url = 'https://en.wikipedia.org/wiki/' + name
#     res = requests.get(url)
#     soup = BeautifulSoup(res.text, "xml")
#     bday = soup.find('span', class_='bday')
#     text = bday.getText()
#     year = re.search(r'\d{4}', text)
# return bday
#     else:
#         pass

# for name in Athlete_list:     
#     if name in birthDict:
#         pass
#     else:
#         url = 'https://en.wikipedia.org/wiki/' + name
#         res = requests.get(url)
#         soup = BeautifulSoup(res.text, "xml")
        
#         bday = soup.find('span', class_='bday')
#         year = re.search(r'\d{4}', bday)
#         birthDict[name] = year

# dfObj=pd.DataFrame(athlete_df, columns='Athlete', index=0)

# MAYBE DELETE IF USING NOTE FROM ABOVE CELL

In [14]:
#full_df['Birth Year'].apply(findBirthYear)
#full_df['Age at Game'] = full_df['Year'] - full_df['Birth Year']
#full_df

**Load full_df into Database using sqlalchemy**

Plan: upload everything above to SQL Database, then build second dataframe using Athlete_list (Athlete names from db/df) and birth years (from Wikipedia), then upload that to sequel as a second table. Then, connect the two tables, to calculate age at games.

# * **Decide if want to move all imports to top** *

In [15]:
from sqlalchemy import create_engine
engine = create_engine('postgres://jovyan:si330studentuser@localhost:5432/si330')

In [16]:
from sqlalchemy.types import Integer, Text, String

In [17]:
full_df.to_sql("gymnastics_olympics",
               engine,
               if_exists='replace',
               schema='public',
               index=False,
               chunksize=500,
               dtype={"Code": String(3),
                      "Country": Text,
                      "Year": Integer,
                      "City": Text,
                      "Athlete": Text,
                      "Gender": Text,
                      "Event": Text,
                      "Event Type": Text,
                      "Medal": Text,
                      "Age": Integer,
                      })

OperationalError: (psycopg2.OperationalError) could not connect to server: Connection refused
	Is the server running on host "localhost" (::1) and accepting
	TCP/IP connections on port 5432?
could not connect to server: Connection refused
	Is the server running on host "localhost" (127.0.0.1) and accepting
	TCP/IP connections on port 5432?

(Background on this error at: http://sqlalche.me/e/e3q8)

Moving into analyses...

In [ ]:
# sql_df = pd.read_sql("SELECT * FROM nyc_jobs",
#                      con=engine,
#                      parse_dates=['posting_date', 'posting_updated'])

# Goals - Analyses

**Goal 1:**

Across the last 10 olympic games, which countries, in order, received the most __ medals:

    a. overall
    b. gold
    c. silver
    d. bronze
    
by category:

    e. each individual event
        f. women's individual events
        g. men's individual events
    h. team events (total)
        i. women's team events
        j. men's team events

In [ ]:
# # USE THIS IF CAN FIGURE IT OUT - WILL BE MUCH MORE EFFICIENT

# # applying groupby() function to group the data on Country value.
# # goal1 = full_df[['Country','Gender','Event','Event Type','Medal']]

# # First grouping based on "Country" 
# # Within each Country then group based on "Event Type" 
# byCountry_EventType_Event = full_df.groupby(['Country','Medal'])
  
# # Print the first value in each group 
# byCountry_EventType_Event.first().head()

In [ ]:
# Goal1: a (overall)
top_countries_list = full_df['Country'].value_counts()[:5]
top_countries_df = pd.DataFrame(top_countries_list)
top_countries_df = top_countries_df.reset_index()
top_countries_df = top_countries_df.rename(columns = {'index': 'Country', 'Country': '# Medals Won'})
top_countries_df

In [ ]:
# byCountry_Medal = top_countries.set_index(['Country','Medal']).value
# byCountry_Medal.unstack().plot(kind='bar', stacked=True)

# full_df.reset_index().groupby('Country')['Medal'].nunique()
# full_df.groupby(level=['Country','Medal']).size()

In [ ]:
# Make bar graph of Top 5 Countries by Number of Overall Medals Won in past Ten Olympic Games

from bokeh.plotting import figure
from bokeh.io import show, output_notebook
from bokeh.plotting import figure
from bokeh.models import HoverTool
output_notebook()

top_countries_list = top_countries_df['Country'].tolist()
# print(top_countries_list)
medals_list = top_countries_df['# Medals Won'].tolist()
# print(medals_list)

# Sorting range factors
sorted_top_countries_list = sorted(top_countries_list, key= lambda x: medals_list[top_countries_list.index(x)], reverse = True)
bg = figure(x_range=sorted_top_countries_list, plot_height=500, title="Top 10 Countries by Number of Overall Medals Won in past Ten Olympic Games", toolbar_location=None, tools="")
bg.vbar(x=top_countries_list, top=medals_list, width=0.75)
bg.xgrid.grid_line_color = None
bg.xaxis.major_label_orientation = 1.2

bg.y_range.start = 0

show(bg)

In [ ]:
# If want to attempt splitting multiindexed bar graph by gender, look at https://programminghistorian.org/en/lessons/visualizing-with-bokeh

# import pandas as pd
# from bokeh.plotting import figure, output_file, show
# from bokeh.models import ColumnDataSource
# from bokeh.palettes import Spectral3
# output_file()

# filter = df_full['COUNTRY_FLYING_MISSION'].isin(('USA','GREAT BRITAIN'))
# df = df[filter]

In [ ]:
# # Finding medals won by
# byCountry.get_group('Romania')

# * **Need to figure out plotting -- all top countries' medal breakdowns at once?** *

In [ ]:
# # applying groupby() function to group the data on Country value.
# goal1_df = full_df[['Country','Gender','Event','Event Type','Medal']]

# First grouping based on "Country" 
# Within each Country then group based on "Event Type" 
byCountry_Medal = full_df.groupby(['Country','Medal']) 
  
# Print the first value in each group 
byCountry_Medal.first().head()

In [ ]:
# # Make pie chart of breakdown of medal type won by each of the 
# # top Ten Countries in past Ten Olympic Games

# import plotly.graph_objects as go

# labels = tournament_count['Tournament Type']
# values = tournament_count['Count']

# # Use `hole` to create a donut-like pie chart
# fig = go.Figure(data=[go.Pie(labels=labels, values=values)])
# fig.show()

Now:
1. Get list of Top Countries
2. Build bday_df with ['Country','Athlete','Year','Birth_Year','Age_at_Games']
3. Build locations_df with ['Country','City','Medal']

In [ ]:
# print(sorted_countries)
bday_df = full_df.loc[full_df['Country'].isin(top_countries_list)]
bday_df=bday_df[['Country','Athlete','Year']]
bday_df

In [ ]:
athlete_df = bday_df[['Athlete']].drop_duplicates()
athlete_list=athlete_df['Athlete'].tolist()
# print(athlete_list)

In [ ]:
# Use BeautifulSoup to scrape Wikipedia to find birth year for each athlete

import re
import requests
import urllib.request
from bs4 import BeautifulSoup

# # Get all the rows of table
# table_data = []
# for tr in table.tbody.find_all("tr"): # find all tr's from table's tbody
#     t_row = {}
#     # Each table row is stored in the form of
#     # t_row = {'Rank': '', 'Country/Territory': '', 'GDP(US$million)': ''}

#     # find all td's in tr and zip it with t_header
#     for td, th in zip(tr.find_all("td"), t_headers): 
#         t_row[th] = td.text.replace('\n', '').strip()
#     table_data.append(t_row)

# # Put the data for the table with his heading.
# data[heading] = table_data


# # Create a data dictionary to store the data.
# data = {}
# #Get the table having the class wikitable
# gdp_table = soup.find("table", attrs={"class": "infobox vcard"})
# gdp_table_data = gdp_table.tbody.find_all("tr")  # contains 2 rows

# # Get all the headings of Lists
# headings = []
# for td in gdp_table_data[0].find_all("td"):
#     # remove any newlines and extra spaces from left and right
#     headings.append(td.b.text.replace('\n', ' ').strip())

# # Get all the 3 tables contained in "gdp_table"
# for table, heading in zip(gdp_table_data[1].find_all("table"), headings):
#     # Get headers of table i.e., Rank, Country, GDP.
#     t_headers = []
#     for th in table.find_all("th"):
#         # remove any newlines and extra spaces from left and right
#         t_headers.append(th.text.replace('\n', ' ').strip())
    
#     # Get all the rows of table
#     table_data = []
#     for tr in table.tbody.find_all("tr"): # find all tr's from table's tbody
#         t_row = {}
#         # Each table row is stored in the form of
#         # t_row = {'Rank': '', 'Country/Territory': '', 'GDP(US$million)': ''}

#         # find all td's(3) in tr and zip it with t_header
#         for td, th in zip(tr.find_all("td"), t_headers): 
#             t_row[th] = td.text.replace('\n', '').strip()
#         table_data.append(t_row)

#     # Put the data for the table with his heading.
#     data[heading] = table_data
    
    
# _____

birthDict = {}
for athlete in athlete_list[:3]:
    print(athlete)
    url = 'https://en.wikipedia.org/wiki/' + athlete
    res = requests.get(url)
    soup = BeautifulSoup(res.text, "xml")
    table = soup.find('table', {'class': 'infobox vcard'})
    trs = table.tbody.find_all('tr')
    for tr in trs:
        if tr.th.text=='Born':
#             bday = tr.td.text
            match = re.search(r'\d{4}', bday)
            print(bday)

#             birthDict[athlete] = year
#     except:
#         pass

print(birthDict)

**Goal 2:**

Across the last 10 olympic games, look into how many total medals each country from above won in each city, and map the amounts on a cloropleth map.

**Goal 3:**

Across the last 10 olympic games, what has been the ~average~ age distribution of athletes who received medals:

    a. total
    b. gold
    c. silver
    d. bronze
    
by category:

    a. total
    b. women
    c. men

**Goal 4:**

Across the last 10 olympic games, what has been the average ~chance~ that if someone won one medal, they would receive more than one medal by category:

    a. total
    b. women
    c. men

In [ ]:
# beam_df=full_df.loc[full_df['Event'].isin(['Balance Beam','Beam'])]

# # games04=full_df[full_df['Year']==2004]
# # games04

In [ ]:
# 2.Which three countries (in order) received the most gold medals for artistic gymnastics during the 2004 
# Olympics, the 2008 Olympics, the 2012 Olympics, and lastly, across all three Olympics? [Including individual 
# events and team competitions – the team competition counts as 1 medal]
# Result 1: Men only
# Result 2: Women only
# Result 3: Men and women together

In [ ]:
# 3. Which three athletes (in order) have received the most gold medals for artistic gymnastics over the past 
#three Olympics? [Including individual events and team competitions – the team competition counts as 1 medal]
# Result 1: Men
# Result 2: Women
# Result 3: Men and women together

In [ ]:
# 4. Have countries been similarly represented by men and women over the past three Olympics for artistic 
# gymnastics? (i.e., did the men and women from each country perform similarly each year?)

# Try getting birth years only for athletes from top 5 countries

In [ ]:
# Get list of unique athlete's names

athlete_df = top_countries_df[['Athlete']].drop_duplicates()
athlete_list=athlete_df['Athlete'].tolist()
# print(athlete_list)

In [ ]:
# Use BeautifulSoup to scrape Wikipedia to find birth year for each athlete

import re
import requests
import urllib.request
from bs4 import BeautifulSoup

birthDict = {}
for athlete in athlete_list[:30]:
    url = 'https://en.wikipedia.org/wiki/' + athlete
    res = requests.get(url)
    soup = BeautifulSoup(res.text, "xml")
    bday = soup.find('span', class_='bday')
    if bday == None:
        pass
    else:
        year = re.search(r'\d{4}', bday)
        birthDict[athlete] = year

print(birthDict)